<%- include('template/head', {tituloWeb:'About'}) %>
<body>
    <h1><%=titulo%></h1>
    <main>
        <div>
            <h3>Emily Piña</h3>
            <span>Desarrolladora Back End</span>
            <ul>
                <li>+57 3028478482 </li>
                <li> emilypina721@gmail.com </li>
                <li><a href="https://www.linkedin.com/in/emily-pi%C3%B1a-sofware-developer/">LinkeIn</a></li>
                <li><a href="https://github.com/emmspy">Github</a></li>
                <li>Bogotá, Colombia </li>
            </ul>
            <div>
                <p>Desarrolladora full stack especializada en el área  back end, con experiencia destacada en el diseño e implementación de soluciones en lenguajes como  Java, JavaScript, también frameworks como Spring Boot, Express.js y en el manejo de base de datos MySQL, PostgreSQL y Mongo. Además de tener experiencia práctica de trabajo colaborativo con herramientas de control de versiones como Git y Github. Soy una persona apasionada y comprometida, con una sólida orientación al futuro y una actitud proactiva, siempre en busca de alcanzar nuevos retos profesionales que me impulsen a seguir creciendo constantemente.</p>
            </div>
        </div>
    </main>
</body>
</html>