<%- include('template/head', {tituloWeb:'Pagina de inicio'}) %>
<body>
    <main>
        <div>
            <h1><%= titulo %></h1>
            <p>Usa las siguientes rutas para ver las demas paginas: </p>
            <a href="./about">Sobre mi</a>
            <a href="./contact">contacto</a>
            <a href="./upload">Subir un archivo</a>
        </div>
    </main>
</body>
</html>